.container {

}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.textContainer {
    flex: 1;
}

.title{
    margin-top: 20px;
    font-size: 64px;
    margin-bottom: 50px;
}

.user{
    display: flex;
    align-items: center;
    gap: 9px;
}

.userImageContainer{
    width: 30px;
    height: 30px;
    position: relative;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.userTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.lin {
    color: var(--textColor2);
    font-size: 12px;
}

.date {
    color: var(--textColor2);
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: initial;
    text-weight: 400;
}

.imageContainer {
    height: 350px;
    width: 400px;
    display: flex;
    position: relative;
}

.image{
    object-fit: cover;
}