.container {

}

.infoContainer {
    align-items: center;
    gap: 50px;
}

.textContainer {
    margin-top: 50px;
}

.title{
    margin-top: 20px;
    font-size: 64px;
    margin-bottom: 50px;
}

.user{
    display: flex;
    align-items: center;
    gap: 9px;
}

.userImageContainer{
    width: 30px;
    height: 30px;
    position: relative;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.userTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.back {
    cursor: pointer;
    display: flex;
    color: var(--textColor2);
    font-size: 13px;
    letter-spacing: initial;
    text-weight: 400;
}

.baack {
    cursor: pointer;
    margin-top: 4px;
    font-size: 15px;
    gap: 4px;
}

.back:hover {
    color: var(--textColor);

}

.top {
    margin: 10px;
}

.lin {
    color: var(--textColor2);
    font-size: 12px;
}

.date {
    margin-top: 50px;
    color: var(--textColor2);
    font-size: 14px;
    letter-spacing: initial;
    text-weight: 400;
}

.imageContainer {
    height: 350px;
    width: 400px;
    display: flex;
    position: relative;
}

.image{
    object-fit: cover;
}