:root{
    --bg:white;
    --textColor:black;
    --textColor2: rgb(102, 102, 102);
    --strtextColor: black;
    --softBg: #f0f0f0;
    --hbrtextColor: #1a1a1a;
    --softTextColor: #626262;

}

* {
    text-transform: lowercase;
    padding: 0;
    margin: 0;
    boxt-sizing: border-box;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

.light{
    /*--bg: #1d1d20;*/
    --hbrtextColor: #6666;
    --bg: black;
    --textColor: #ededed;
    --textColor2: grey;
    --strtextColor: white;

    --softBg: #1f273a;
    --softTextColor: #абаба6;
}

.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width:1536px) {
    .wrapper {
        max-width: 1366px;
    }
}

@media screen and (max-width:1366px) {
    .wrapper {
        max-width: 1024px;
    }
}

@media screen and (max-width:1024px) {
    .wrapper {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:768px) {
    .wrapper {
        max-width: 640px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:640px) {
    .wrapper {
        max-width: 475px;
        padding-left: 40px;
        padding-right: 40px;
    }
}