.fh1{
    text-align: center;
    margin-top: 100px;
    font-size: 45px;

}

.str {
    color: white;
}

.fp {
    text-align: center;
    margin-top: 20px;
    color: grey;
    margin-bottom: 20px;
}

.buttn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid white;
    margin-bottom: 40px;
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;
    cursor: pointer;
}

.buttn:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
}



@media screen and (max-width: 1280px) {
    .fh1{
        text-align: center;
        margin-top: 80px;
        font-size: 40px;

    }
}

@media screen and (max-width: 1024px) {
    .fh1{
        text-align: center;
        margin-top: 60px;

    }
}

@media screen and (max-width: 768px) {
    .fh1{
        text-align: center;
        margin-top: 40px;

    }

    .fp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
                line-clamp: 4;
        -webkit-box-orient: vertical;

    }

    .buttn {
        height: 35px;
    }
}


@media screen and (max-width: 640px) {
    .fh1{
        text-align: center;
        margin-top: 10px;
        font-size: 35px;

    }

}