.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social {
    display: flex;
    gap: 10px;
    flex: 1;
}

.logo{
    flex: 1;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}


.link {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.toggle {
    margin-bottom: 40px;
}