.container{
    clear: both;
    margin: 0 auto;
    border-top: .1px solid var(--textColor2);
    justify-content: space-between;
    display: flex;
}
.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logo{
    margin: 20px 0 0 50px;
}

.text {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 13px 0 0 50px;
    color: var(--textColor2);
    font-size: 14px;
    gap: 15px;
}

.links {
    color: var(--textColor2);
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 70px;
}

.listTitle {
    font-weight: bold;
    margin: 20px;
}



.list {
    color: var(--textColor2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: 300;
}