.container {
    width:   60px;
    height: 30px;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: relative;
}

.ball{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 3px;
}

.margin {
    margin: 2px;
}